.modal {
    width: 100vw;
    height: 100vh;
    background-color: #0003;
    z-index: 10;
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal--hidden {
    display: none;
}

.modal__content {
    background-color: #fff;
    width: 500px;
    border-radius: 24px;
    padding: 24px;
}

.modal__header {
    display: flex;
    justify-content: flex-end;
}

.modal__header .modal__close {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
}

.modal__header .modal__close:hover {
    fill: #ba0303;
    background-color: #ffe6e6;
}

.modal__header .modal__close svg {
    width: 1.5rem;
}

.modal__main {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.modal__main .modal__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.modal__main .modal__description {
    font-size: 1rem;
    margin-top: 1.1rem;
    color: grey;
}

.modal__main .modal__emojis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.modal__main .modal__emoji {
    position: relative;
    font-size: 2em;
    margin: 20px;
    z-index: 100;
    vertical-align: middle;
    cursor: pointer;
    filter: grayscale(1);
    opacity: 0.8;
    transition: ease-in-out .3s;
}

.modal__main .modal__emoji:hover {
    filter: grayscale(0);
    opacity: 1;
}

.modal__main .modal__emoji::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    z-index: -10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .3s;
}

.modal__main .modal__emoji:hover::before {
    cursor: pointer;
    background-color: #f2f2f2;
}

.modal__actions {
    display: flex;
}

.modal__actions .btn {
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
}

.modal__actions .btn--primary {
    background-color: #7200d3;
    color: #fff;
}

.modal__actions .btn--outline {
    color: black;
    border: 2px solid #dcdee9;
    background-color: transparent;
    margin-left: .5rem;
}

.modal__actions .btn--outline:hover {
    background: #dcdee942;
    color: #110c22;
}